{
  "globalInjectFiles": [
    "~/.claude/CLAUDE.md"
  ],
  "hookNotifyAutoAllow": true,
  "hookNotifyPlanSave": false,
  "hooks": {
    "PermissionRequest": [
      {
        "hooks": [
          {
            "type": "command",
            "command": "python3 ~/.claude/hooks/auto-allow.py",
            "timeout": 5
          }
        ]
      }
    ],
    "UserPromptSubmit": [
      {
        "hooks": [
          {
            "type": "command",
            "command": "python3 ~/.claude/hooks/plan-mode.py"
          },
          {
            "type": "command",
            "command": "python3 ~/.claude/hooks/memory-reinject.py"
          }
        ]
      }
    ],
    "PostToolUse": [
      {
        "matcher": "ExitPlanMode",
        "hooks": [
          {
            "type": "command",
            "command": "python3 ~/.claude/hooks/save-plan.py",
            "timeout": 15
          }
        ]
      }
    ],
    "SessionStart": [
      {
        "hooks": [
          {
            "type": "command",
            "command": "python3 ~/.claude/hooks/session-start.py",
            "timeout": 10
          }
        ]
      },
      {
        "matcher": "compact",
        "hooks": [
          {
            "type": "command",
            "command": "python3 ~/.claude/hooks/compact-reinject.py CLAUDE.md",
            "timeout": 10
          }
        ]
      }
    ],
    "Stop": [
      {
        "hooks": [
          {
            "type": "command",
            "command": "python3 ~/.claude/hooks/memory-save.py",
            "timeout": 10
          }
        ]
      }
    ]
  }
}
